@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Poppins", sans-serif;
  background-color: #f7f9fc;
  color: #333;
  margin: 0;
  padding: 40px;
}

@font-face {
  font-family: "bismilah";
  src: url("../FONT/Bismillah\ Script.ttf");
}
.wrap {
  margin: 20px;
  background-color: white;
  border-radius: 8px;
}

/* HEADER */
.header {
  background-color: #e7f0fb;
  text-align: center;
  padding: 30px 10px;
  border-radius: 12px;
  margin: 20px;
}

.header h1 {
  font-family: Playfair Display;
  color: #1e4fa2;
  margin-bottom: 5px;
}

.header p {
  font-style: italic;
  color: #555;
  font-family: Quicksand;
}

/* KONTEN UTAMA */
.judul-web {
  font-family: mulish;
  color: #176b3b;
}

.content {
  background: #fff;
  margin: 20px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.05);
}

.isi-web {
  font-family: Poppins;
}

.tambahan-isi-web {
  font-family: Poppins;
}

.merah {
  color: red;
}

em {
  font-weight: bold;
}

/* QUOTE */
blockquote {
  font-style: Lora;
  background: #e7f0fb;
  padding: 15px 20px;
  margin: 20px;
  border-left: 5px solid #1e4fa2;
  border-radius: 8px;
}

/* CATATAN */
.note {
  font-family: inter;
  background: linear-gradient(to right, #fff0f0, #ffe6e6);
  color: #830404;
  margin: 20px;
  border-left: 5px solid #b22222;
  padding: 1px 20px;
  border-radius: 10px;
}

.penutup {
  display: flex;
  flex-direction: column; /* 🔥 ini kuncinya! */
  align-items: flex-end;  /* biar dua-duanya di sisi kanan */
  margin-top: 30px;
  padding-top: 15px;
  border-top: 1px solid #e0e0e0;
}

.penulis {
  text-align: left;
  font-weight: bold;
  color: #333;
  font-size: 18px;
  font-family: caveat;
}

/* Signature */
.signature {
  font-family: "bismilah";
  font-size: 35px;
  color: #b91c1c;
  text-align: right;

}

/* FOOTER */
footer {
  text-align: center;
  margin-top: 30px;
  padding: 10px 0;
  color: #555;
  font-size: 14px;
  border-top: 1px solid #ddd;
}
