.container {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: blueviolet;
}

h1 {
    color: #f50b0b;
    font-size: 40px;
    font-family: "fontsaya";
}

h2 {
    font-weight: lighter;
    font-family: "fontsaya";
    
}

@font-face {
    font-family: "fontsaya";
    src: url(fontsaya.otf) format("truetype");
}

.paragraph {
    width: 40%;
    background-color: aqua;
    
}

.paragraph p {
    font-family: "Roboto", sans-serif;
    text-align: center;
    padding: 12px;
    text-transform: capitalize;
    line-height: 1,5;
    letter-spacing: 4px;
}