.card {
    background: #f9f9f9;
    text-align: center;
    height: 250px;
    width: 250px;
    line-height: 12;
    border: 2px dashed #333;
    border-radius: 6px;
}
#Box-A {
    width: 200px;
    height: 200px;
    background: yellow;
}
#Box-B {
    

}
#Box-C {
    width: 200px;
    height: 200px;
    background: orangered;
    padding: 10px;
    border: 5px solid #333;
}
#Box-D {
    width: 200px;
    height: 200px;
    border: 5px solid #333;
    background: aqua;
    margin: 20px;
    /* padding: 10px; */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}